services:
  hw-db:
    image: postgres:13
    hostname: hw-db
    container_name: hw-db

    networks:
      - hw-network

    ports:
      - "5432:5432"

    volumes:
      - postgres-hw-data:/var/lib/postgresql/data
      - ../db:/docker-entrypoint-initdb.d

    env_file:
      - .pg_env

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  hw-redis:
    image: redis:alpine
    container_name: hw-redis

    networks:
      - hw-network

    ports:
      - 6379:6379

    command: redis-server --notify-keyspace-events KEA

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  hw-server:
    build:
      context: ..
      dockerfile: docker/Dockerfile

    container_name: hw-server
    hostname: hw-server

    networks:
      - hw-network

    ports:
      - "8001:8000"

    volumes:
      - .:/project

    user: ${UID}:${GID}

    env_file:
      - .srv_env

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

    depends_on:
      hw-db:
        condition: service_healthy
      hw-redis:
        condition: service_healthy
      hw-keycloak:
        condition: service_healthy

    # command: sh -c "uvicorn app:application --host 0.0.0.0 --port 8000"

  hw-keycloak:
    image: keycloak/keycloak:25.0
    hostname: hw-keycloak
    container_name: hw-keycloak
    networks:
      - hw-network

    ports:
      - 8080:8080

    volumes:
      - ../db/keycloak:/opt/keycloak/data/import

    env_file:
      - .kc_env

    command: -v start-dev --import-realm

    healthcheck:
      test: ["CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/8080"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 60s

    depends_on:
      hw-db:
        condition: service_healthy

  shell:
    extends: hw-server
    container_name: hw-server-shell

    ports:
      - 8001:8000
      - 56781:5678
      - 8081:8080

    volumes:
      - ..:/project:delegated
      - /tmp:/tmp
      - ~/.ssh:/home/devel/.ssh

    command: "/usr/bin/tmux -L server"

    depends_on:
      hw-db:
        condition: service_healthy
      hw-keycloak:
        condition: service_healthy
      hw-redis:
        condition: service_healthy

volumes:
  postgres-hw-data:


networks:
  hw-network:
    name: hw-network
