from {{cookiecutter.module_name}}.api.ws.constants import PkgID, RSPCode
from {{cookiecutter.module_name}}.api.ws.validation import validator
from {{cookiecutter.module_name}}.logging import logger
from {{cookiecutter.module_name}}.routing import pkg_router
from {{cookiecutter.module_name}}.schemas.generic_typing import JsonSchemaType
from {{cookiecutter.module_name}}.schemas.request import RequestModel
from {{cookiecutter.module_name}}.schemas.response import ResponseModel

{% raw %}
# FIXME: If you need data validation, write json schema here
# filters_schema: JsonSchemaType = {}

@pkg_router.register(
    PkgID.{{ pkg_id }}, json_schema=None, validator_callback=None
)
async def {{ handler_name }}(request: RequestModel):
    try:
        # TODO: Your code goes here...
        pass
    except Exception as ex:
        logger.error(ex)
        return ResponseModel.err_msg(
            request.pkg_id,
            request.req_id,
            msg="Error occured while handler the request",  # FIXME: This is generic error msg if you need custom change it
            status_code=RSPCode.ERROR,
        )
{% endraw %}
